.footer {
  min-height: var(--footer-height);

  border-top: 1px solid var(--border-color);
  background-color: var(--background-color-dark);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 2em;
  }
}

.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .logo {
    width: 12em;
  }
}

.rightContainer {
  display: flex;
  flex-direction: row;
  gap: 1em;

  a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 0.75em;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 768px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 0 2em;
  }
}
