.button {
  background-color: var(--button-primary-color);
  color: var(--text-color-dark);

  border: none;
  padding: 0;

  width: 100%;
  min-height: 2.75em;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  &:hover {
    background-color: var(--text-color-dark);
    color: var(--text-color-light);
  }

  .label {
    font-family: var(--font-body);
    font-size: 1em;
    margin: auto;
  }
}

.transparent {
  background-color: transparent;
  color: var(--text-color);

  &:hover {
    background-color: transparent;
    color: var(--text-color-light);
  }
}

.secondary {
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: var(--text-color);

  &:hover {
    background-color: var(--text-color-light);
    color: var(--text-color-dark);
  }
}
