@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --font-body: "Nunito Sans", sans-serif;
  --font-title: "DM Serif Display", serif;

  --text-color: #d0c5b5;
  --text-color-light: #e9e1da;
  --text-color-dark: #3a3d44;

  --background-color-light: #16130f;
  --background-color-lightest: #2d2925;
  --background-color: #16130f91;
  --background-color-dark: #100e0a;

  --button-primary-color: #b8bdc6;

  --border-color: rgba(77, 70, 58, 30);

  --section-padding: 0 5em;

  --header-height: 5em;
  --footer-height: 9em;
  --content-min-height: calc(100vh - var(--header-height));

  @media (max-width: 768px) {
    --section-padding: 0 2em;
  }
}

body {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color-light);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  scrollbar-color: var(--text-color-light) var(--background-color-dark);
  scrollbar-width: thin;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
