.header {
  min-height: var(--header-height);
  border-bottom: 1px solid var(--border-color);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;

  .mobileMenuButton {
    display: none;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    font-size: 0.9em;
    cursor: pointer;
    padding: 0em;
    z-index: 1001;

    width: 3em;
    height: 3em;

    @media (max-width: 768px) {
      display: block;
    }
  }
}

.logoLink,
.authButtonsContainer {
  display: flex;
  flex-direction: row;
  width: 12em;
  gap: 1em;

  @media (max-width: 768px) {
    width: auto;
  }
}

.logo {
  width: 100%;
  height: auto;

}

.navButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 22em;

  @media (max-width: 768px) {
    display: none;
  }
}

.navButton {
  color: var(--text-color);
  text-decoration: none;
  font-size: 0.9em;
  width: 100%;
  padding: 0.5em;
  text-align: center;

  &:hover {
    background-color: var(--text-color-dark);
  }
}

.authButtonsContainer {
  @media (max-width: 768px) {
    display: none;
  }
}
